@use '../../styles/abstract' as var;
.wrap{
    display: flex;
    align-items: center;
    color: var.$app-primary;
    max-width: 210px;
    min-width: 210px;
    user-select: none;
    gap: 0.5rem;
    .img{
        flex-basis: 100%;
        max-width: 50px;
        height: 50px;
        img{
            width: 100%;
        }
    }
    .content{
        flex-basis: 100%;
        font-size: 22px;
        line-height: 1;
        &>span{
            display: block;
            text-align: center;
        }
        .main{
            font-weight: 700;
            margin-bottom: 5px;
        }
        .small{
            font-size: 0.6em;
        }
    }
}
